<!DOCTYPE html>
<html lang="en">

<!--================================================================================
	blog Name: Materialize - Material Design Admin Template
	Version: 3.1
	Author: GeeksLabs
	Author URL: http://www.themeforest.net/user/geekslabs
================================================================================ -->

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="msapplication-tap-highlight" content="no">
  <meta name="description" content="Materialize is a Material Design Admin Template,It's modern, responsive and based on Material Design by Google. ">
  <meta name="keywords" content="materialize, admin template, dashboard template, flat admin template, responsive admin template,">
  <title>필사의일격</title>

  <!-- Favicons-->
  <link rel="icon" href="images/favicon/favicon-32x32.png" sizes="32x32">
  <!-- Favicons-->
  <link rel="apple-touch-icon-precomposed" href="images/favicon/apple-touch-icon-152x152.png">
  <!-- For iPhone -->
  <meta name="msapplication-TileColor" content="#00bcd4">
  <meta name="msapplication-TileImage" content="images/favicon/mstile-144x144.png">
  <!-- For Windows Phone -->


  <!-- CORE CSS-->
  
  <!-- <link href="css/materialize.min.css" type="text/css" rel="stylesheet" media="screen,projection"> -->
  <link href="css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection">
  <!-- <link href="css/style.min.css" type="text/css" rel="stylesheet" media="screen,projection"> -->
  <link href="css/style.css" type="text/css" rel="stylesheet" media="screen,projection">
  <!-- Custome CSS-->    
  <!-- <link href="css/custom/custom.min.css" type="text/css" rel="stylesheet" media="screen,projection"> -->
  <link href="css/custom/custom.css" type="text/css" rel="stylesheet" media="screen,projection">


  <!-- INCLUDED PLUGIN CSS ON THIS PAGE -->
  <link href="js/plugins/prism/prism.css" type="text/css" rel="stylesheet" media="screen,projection">
  <link href="js/plugins/perfect-scrollbar/perfect-scrollbar.css" type="text/css" rel="stylesheet" media="screen,projection">
  <link href="js/plugins/chartist-js/chartist.min.css" type="text/css" rel="stylesheet" media="screen,projection">


<style>
#main {
	padding-left: 0px;
}

</style>


</head>

<body>
  <!-- Start Page Loading -->
  <div id="loader-wrapper">
      <div id="loader"></div>        
      <div class="loader-section section-left"></div>
      <div class="loader-section section-right"></div>
  </div>
  <!-- End Page Loading -->

  <!-- //////////////////////////////////////////////////////////////////////////// -->

  <!-- START HEADER -->
  <header id="header" class="page-topbar">
        <!-- start header nav-->
        <div class="navbar-fixed">
            <nav class="navbar-color">
                <div class="nav-wrapper">
                    <ul class="left">                      
                      <li><h1 class="logo-wrapper"><a href="index.html" class="brand-logo darken-1"><img src="images/materialize-logo.png" alt="materialize logo"></a> <span class="logo-text">Materialize</span></h1></li>
                    </ul>
                    <div class="header-search-wrapper hide-on-med-and-down">
                        <i class="mdi-action-search"></i>
                        <input type="text" name="Search" class="header-search-input z-depth-2" placeholder="Explore Materialize"/>
                    </div>
                    <ul class="right hide-on-med-and-down">
                        <li id="li_reg_post">
                        	<a href="#modal2" class="waves-effect waves-light modal-trigger"><i class="mdi-editor-mode-edit"></i></a>
                        </li>
                    </ul>
                    <!-- translation-button -->
                    <!-- <ul id="translation-dropdown" class="dropdown-content">
                      <li>
                        <a href="#!"><img src="images/flag-icons/United-States.png" alt="English" />  <span class="language-select">English</span></a>
                      </li>
                      <li>
                        <a href="#!"><img src="images/flag-icons/France.png" alt="French" />  <span class="language-select">French</span></a>
                      </li>
                      <li>
                        <a href="#!"><img src="images/flag-icons/China.png" alt="Chinese" />  <span class="language-select">Chinese</span></a>
                      </li>
                      <li>
                        <a href="#!"><img src="images/flag-icons/Germany.png" alt="German" />  <span class="language-select">German</span></a>
                      </li>
                    </ul> -->
                    <!-- notifications-dropdown -->
                    <!-- <ul id="notifications-dropdown" class="dropdown-content">
                      <li>
                        <h5>NOTIFICATIONS <span class="new badge">5</span></h5>
                      </li>
                      <li class="divider"></li>
                      <li>
                        <a href="#!"><i class="mdi-action-add-shopping-cart"></i> A new order has been placed!</a>
                        <time class="media-meta" datetime="2015-06-12T20:50:48+08:00">2 hours ago</time>
                      </li>
                      <li>
                        <a href="#!"><i class="mdi-action-stars"></i> Completed the task</a>
                        <time class="media-meta" datetime="2015-06-12T20:50:48+08:00">3 days ago</time>
                      </li>
                      <li>
                        <a href="#!"><i class="mdi-action-settings"></i> Settings updated</a>
                        <time class="media-meta" datetime="2015-06-12T20:50:48+08:00">4 days ago</time>
                      </li>
                      <li>
                        <a href="#!"><i class="mdi-editor-insert-invitation"></i> Director meeting started</a>
                        <time class="media-meta" datetime="2015-06-12T20:50:48+08:00">6 days ago</time>
                      </li>
                      <li>
                        <a href="#!"><i class="mdi-action-trending-up"></i> Generate monthly report</a>
                        <time class="media-meta" datetime="2015-06-12T20:50:48+08:00">1 week ago</time>
                      </li>
                    </ul> -->
                </div>
            </nav>
        </div>
        <!-- end header nav-->
  </header>
  <!-- END HEADER -->

  <!-- //////////////////////////////////////////////////////////////////////////// -->

  <!-- START MAIN -->
  <div id="main">
    <!-- START WRAPPER -->
    <div class="wrapper">

      <!-- START LEFT SIDEBAR NAV-->
      <!-- END LEFT SIDEBAR NAV-->

      <!-- //////////////////////////////////////////////////////////////////////////// -->

      <!-- START CONTENT -->
      <section id="content">
        
        <!--breadcrumbs start-->
        <!-- <div id="breadcrumbs-wrapper">
            Search for small screen
            <div class="header-search-wrapper grey hide-on-large-only">
                <i class="mdi-action-search active"></i>
                <input type="text" name="Search" class="header-search-input z-depth-2" placeholder="Explore Materialize">
            </div>
          <div class="container">
            <div class="row">
              <div class="col s12 m12 l12">
                <h5 class="breadcrumbs-title">Blog Page</h5>
                <ol class="breadcrumbs">
                    <li><a href="index.html">Dashboard</a></li>
                    <li><a href="#">Pages</a></li>
                    <li class="active">Blog Page</li>
                </ol>
              </div>
            </div>
          </div>
        </div> -->
        <!--breadcrumbs end-->
        

        <!--start container-->
        <div class="container">
          <div class="section">
            <div class="row">
            	<div class="col s12 plisa-left-section">
            	<!-- <span class="caption">글감목록</span>
           		<div class="divider"></div> -->
           		
            		<!-- start blog list -->
		            <div id="blog-posts" class="row">
		                <div class="blog-sizer"></div>
		
		                <div class="blog">
		                    <div class="card">
		                        <!-- <div class="s2 card-image waves-effect waves-block waves-light">
		                            <a href="#">
		                            	<img src="images/img2.jpg" alt="blog-img">
		                            </a>
		                        </div> -->
		                        <ul class="card-action-buttons">
		                            <li><a class="btn-floating waves-effect waves-light green accent-4"><i class="mdi-av-play-arrow"></i></a>
		                            </li>                            
		                            <li><a class="btn-floating waves-effect waves-light light-blue"><i class="mdi-action-info activator"></i></a>
		                            </li>
		                        </ul>
		                        <div class="card-content">
		                            <p class="row">
		                              <span class="left"><a href="">위대한 유산 - 첫번째 조언 공은 여기서 멈춘다.</a></span>
		                              <!-- <span class="right">18th June, 2015</span> -->
		                            </p>
		                            <h1 class="card-title grey-text text-darken-4">
		                            	<a href="#" class="grey-text text-darken-4">
		                            		위대한 유산 - 첫번째 조언 공은 여기서 멈춘다.위대한 유산 - 첫번째 조언 공은 여기서 멈춘다.위대한 유산 - 첫번째 조언 공은 여기서 멈춘다.
		                            	</a>
		                            </h1>
		                            <p class="blog-post-content grey-text text-darken-1 text-ellipsis">출처 : 내 생각내 생각내 생각내 생각내 생각내 생각내 생각내 생각</p>
		                            <div class="row">
		                              <div class="col s3">
		                                <img src="images/avatar.jpg" alt="" class="circle responsive-img valign profile-image">
		                              </div>
		                              <div class="col s9"> By <a href="#">윤태경</a><br/>2019/01/01 12:30</div>
		                            </div>
		                        </div>
		                        <div class="card-reveal">
		                            <span class="card-title grey-text text-darken-4"><i class="mdi-navigation-close right"></i> Apple MacBook Pro A1278 13"</span>
		                            <p>Here is some more information about this blog that is only revealed once clicked on.</p>
		                        </div>
		                    </div>
		                </div>
		
		                <div class="blog">
		                    <div class="card">
		                        <div class="card-image waves-effect waves-block waves-light">
		                            <a href="#"><img src="images/img3.jpg" alt="blog-img">
		                            </a>
		                        </div>
		                        <ul class="card-action-buttons">
		                            <li><a class="btn-floating waves-effect waves-light green accent-4"><i class="mdi-social-share"></i></a>
		                            </li>                            
		                            <li><a class="btn-floating waves-effect waves-light light-blue"><i class="mdi-action-info activator"></i></a>
		                            </li>
		                        </ul>
		                        <div class="card-content">
		                            <p class="row">
		                              <span class="left"><a href="">Web Design</a></span>
		                              <span class="right">18th June, 2015</span>
		                            </p>
		                            <h4 class="card-title grey-text text-darken-4"><a href="#" class="grey-text text-darken-4">Material Design Card - For Blog Post Article</a>
		                            </h4>
		                            <p class="blog-post-content">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
		                            <div class="row">
		                              <div class="col s2">
		                                <img src="images/avatar.jpg" alt="" class="circle responsive-img valign profile-image">
		                              </div>
		                              <div class="col s9"> By <a href="#">John Doe</a></div>
		                            </div>
		                        </div>
		                        <div class="card-reveal">
		                            <span class="card-title grey-text text-darken-4"><i class="mdi-navigation-close right"></i> Apple MacBook Pro A1278 13"</span>
		                            <p>Here is some more information about this blog that is only revealed once clicked on.</p>
		                        </div>
		                    </div>
		                </div>
		                
		                <div class="blog">
		                    <div class="card">
		                        <div class="card-image waves-effect waves-block waves-light">
		                            <a href="#"><img src="images/img3.jpg" alt="blog-img">
		                            </a>
		                        </div>
		                        <ul class="card-action-buttons">
		                            <li><a class="btn-floating waves-effect waves-light green accent-4"><i class="mdi-social-share"></i></a>
		                            </li>                            
		                            <li><a class="btn-floating waves-effect waves-light light-blue"><i class="mdi-action-info activator"></i></a>
		                            </li>
		                        </ul>
		                        <div class="card-content">
		                            <p class="row">
		                              <span class="left"><a href="">Web Design</a></span>
		                              <span class="right">18th June, 2015</span>
		                            </p>
		                            <h4 class="card-title grey-text text-darken-4"><a href="#" class="grey-text text-darken-4">Material Design Card - For Blog Post Article</a>
		                            </h4>
		                            <p class="blog-post-content">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
		                            <div class="row">
		                              <div class="col s2">
		                                <img src="images/avatar.jpg" alt="" class="circle responsive-img valign profile-image">
		                              </div>
		                              <div class="col s9"> By <a href="#">John Doe</a></div>
		                            </div>
		                        </div>
		                        <div class="card-reveal">
		                            <span class="card-title grey-text text-darken-4"><i class="mdi-navigation-close right"></i> Apple MacBook Pro A1278 13"</span>
		                            <p>Here is some more information about this blog that is only revealed once clicked on.</p>
		                        </div>
		                    </div>
		                </div>
		                
		                <div class="blog">
		                    <div class="card">
		                        <div class="card-image waves-effect waves-block waves-light">
		                            <a href="#"><img src="images/img3.jpg" alt="blog-img">
		                            </a>
		                        </div>
		                        <ul class="card-action-buttons">
		                            <li><a class="btn-floating waves-effect waves-light green accent-4"><i class="mdi-social-share"></i></a>
		                            </li>                            
		                            <li><a class="btn-floating waves-effect waves-light light-blue"><i class="mdi-action-info activator"></i></a>
		                            </li>
		                        </ul>
		                        <div class="card-content">
		                            <p class="row">
		                              <span class="left"><a href="">Web Design</a></span>
		                              <span class="right">18th June, 2015</span>
		                            </p>
		                            <h4 class="card-title grey-text text-darken-4"><a href="#" class="grey-text text-darken-4">Material Design Card - For Blog Post Article</a>
		                            </h4>
		                            <p class="blog-post-content">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
		                            <div class="row">
		                              <div class="col s2">
		                                <img src="images/avatar.jpg" alt="" class="circle responsive-img valign profile-image">
		                              </div>
		                              <div class="col s9"> By <a href="#">John Doe</a></div>
		                            </div>
		                        </div>
		                        <div class="card-reveal">
		                            <span class="card-title grey-text text-darken-4"><i class="mdi-navigation-close right"></i> Apple MacBook Pro A1278 13"</span>
		                            <p>Here is some more information about this blog that is only revealed once clicked on.</p>
		                        </div>
		                    </div>
		                </div>
		
		            </div>
		            <!--/ end blog list -->
		            
            	</div>
            	
            	<!-- <div class="col s5">
            		<span class="caption">내 필사</span>
            		<div class="divider"></div>
            	</div> -->
            </div>
          </div>
          <!-- Floating Action Button -->
            <div class="fixed-action-btn" style="bottom: 50px; right: 19px;">
                <a class="btn-floating btn-large">
                  <i class="mdi-action-stars"></i>
                </a>
                <ul>
                  <li><a href="css-helpers.html" class="btn-floating red"><i class="large mdi-communication-live-help"></i></a></li>
                  <li><a href="app-widget.html" class="btn-floating yellow darken-1"><i class="large mdi-device-now-widgets"></i></a></li>
                  <li><a href="app-calendar.html" class="btn-floating green"><i class="large mdi-editor-insert-invitation"></i></a></li>
                  <li><a href="app-email.html" class="btn-floating blue"><i class="large mdi-communication-email"></i></a></li>
                </ul>
            </div>
            <!-- Floating Action Button -->
        </div>
        <!--end container-->
      </section>
      <!-- END CONTENT -->

      <!-- //////////////////////////////////////////////////////////////////////////// -->
      <!-- START RIGHT SIDEBAR NAV-->
      <aside id="right-sidebar-nav">
        <ul id="chat-out" class="side-nav rightside-navigation">
            <li class="li-hover">
            <a href="#" data-activates="chat-out" class="chat-close-collapse right"><i class="mdi-navigation-close"></i></a>
            <div id="right-search" class="row">
                <form class="col s12">
                    <div class="input-field">
                        <i class="mdi-action-search prefix"></i>
                        <input id="icon_prefix" type="text" class="validate">
                        <label for="icon_prefix">Search</label>
                    </div>
                </form>
            </div>
            </li>
            <li class="li-hover">
                <ul class="chat-collapsible" data-collapsible="expandable">
                <li>
                    <div class="collapsible-header teal white-text active"><i class="mdi-social-whatshot"></i>Recent Activity</div>
                    <div class="collapsible-body recent-activity">
                        <div class="recent-activity-list chat-out-list row">
                            <div class="col s3 recent-activity-list-icon"><i class="mdi-action-add-shopping-cart"></i>
                            </div>
                            <div class="col s9 recent-activity-list-text">
                                <a href="#">just now</a>
                                <p>Jim Doe Purchased new equipments for zonal office.</p>
                            </div>
                        </div>
                        <div class="recent-activity-list chat-out-list row">
                            <div class="col s3 recent-activity-list-icon"><i class="mdi-device-airplanemode-on"></i>
                            </div>
                            <div class="col s9 recent-activity-list-text">
                                <a href="#">Yesterday</a>
                                <p>Your Next flight for USA will be on 15th August 2015.</p>
                            </div>
                        </div>
                        <div class="recent-activity-list chat-out-list row">
                            <div class="col s3 recent-activity-list-icon"><i class="mdi-action-settings-voice"></i>
                            </div>
                            <div class="col s9 recent-activity-list-text">
                                <a href="#">5 Days Ago</a>
                                <p>Natalya Parker Send you a voice mail for next conference.</p>
                            </div>
                        </div>
                        <div class="recent-activity-list chat-out-list row">
                            <div class="col s3 recent-activity-list-icon"><i class="mdi-action-store"></i>
                            </div>
                            <div class="col s9 recent-activity-list-text">
                                <a href="#">Last Week</a>
                                <p>Jessy Jay open a new store at S.G Road.</p>
                            </div>
                        </div>
                        <div class="recent-activity-list chat-out-list row">
                            <div class="col s3 recent-activity-list-icon"><i class="mdi-action-settings-voice"></i>
                            </div>
                            <div class="col s9 recent-activity-list-text">
                                <a href="#">5 Days Ago</a>
                                <p>Natalya Parker Send you a voice mail for next conference.</p>
                            </div>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="collapsible-header light-blue white-text active"><i class="mdi-editor-attach-money"></i>Sales Repoart</div>
                    <div class="collapsible-body sales-repoart">
                        <div class="sales-repoart-list  chat-out-list row">
                            <div class="col s8">Target Salse</div>
                            <div class="col s4"><span id="sales-line-1"></span>
                            </div>
                        </div>
                        <div class="sales-repoart-list chat-out-list row">
                            <div class="col s8">Payment Due</div>
                            <div class="col s4"><span id="sales-bar-1"></span>
                            </div>
                        </div>
                        <div class="sales-repoart-list chat-out-list row">
                            <div class="col s8">Total Delivery</div>
                            <div class="col s4"><span id="sales-line-2"></span>
                            </div>
                        </div>
                        <div class="sales-repoart-list chat-out-list row">
                            <div class="col s8">Total Progress</div>
                            <div class="col s4"><span id="sales-bar-2"></span>
                            </div>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="collapsible-header red white-text"><i class="mdi-action-stars"></i>Favorite Associates</div>
                    <div class="collapsible-body favorite-associates">
                        <div class="favorite-associate-list chat-out-list row">
                            <div class="col s4"><img src="images/avatar.jpg" alt="" class="circle responsive-img online-user valign profile-image">
                            </div>
                            <div class="col s8">
                                <p>Eileen Sideways</p>
                                <p class="place">Los Angeles, CA</p>
                            </div>
                        </div>
                        <div class="favorite-associate-list chat-out-list row">
                            <div class="col s4"><img src="images/avatar.jpg" alt="" class="circle responsive-img online-user valign profile-image">
                            </div>
                            <div class="col s8">
                                <p>Zaham Sindil</p>
                                <p class="place">San Francisco, CA</p>
                            </div>
                        </div>
                        <div class="favorite-associate-list chat-out-list row">
                            <div class="col s4"><img src="images/avatar.jpg" alt="" class="circle responsive-img offline-user valign profile-image">
                            </div>
                            <div class="col s8">
                                <p>Renov Leongal</p>
                                <p class="place">Cebu City, Philippines</p>
                            </div>
                        </div>
                        <div class="favorite-associate-list chat-out-list row">
                            <div class="col s4"><img src="images/avatar.jpg" alt="" class="circle responsive-img online-user valign profile-image">
                            </div>
                            <div class="col s8">
                                <p>Weno Carasbong</p>
                                <p>Tokyo, Japan</p>
                            </div>
                        </div>
                        <div class="favorite-associate-list chat-out-list row">
                            <div class="col s4"><img src="images/avatar.jpg" alt="" class="circle responsive-img offline-user valign profile-image">
                            </div>
                            <div class="col s8">
                                <p>Nusja Nawancali</p>
                                <p class="place">Bangkok, Thailand</p>
                            </div>
                        </div>
                    </div>
                </li>
                </ul>
            </li>
        </ul>
      </aside>
      <!-- LEFT RIGHT SIDEBAR NAV-->

    </div>
    <!-- END WRAPPER -->

  </div>
  <!-- END MAIN -->

<div id="modal-fixed-footer">
	<div class="row">
    	<div class="col">
        	<div id="modal2" class="modal modal-fixed-footer modal-close">
            	<div class="modal-content">
                
   


<div id="input-fields">
	<h4 class="header caption" style="margin-left: 15px;"><i class="mdi-editor-mode-edit"></i> 글감등록</h4>
    <div class="row" style="margin-bottom: 0px; ">
    	<div class="col s12">
        	<div class="row">
            	<form class="col s6">
                <div class="row">
                	<div class="input-field col s12">
                    	<input id="ipt_title" type="text" class="validate">
                        <label for="ipt_title">제목</label>
					</div>
                    <div class="input-field col s12">
                    	<textarea id="txtarea_contents" class="materialize-textarea validate" placeholder="마침표 기준으로 입력단위가 저장됩니다."></textarea>
                        <label for="txtarea_contents">내용</label>
					</div>
                    <div class="input-field col s12">
                    	<input id="ipt_quatation" type="text" class="validate">
                    	<label for="ipt_quatation">출처</label>
					</div>
				</div>
				</form>
                <div class="col s6">
                	<div class="row">
                		내용 미리보기
                	</div>
                	<div class="row s12" style="border:1px dashed #9e9e9e;padding: 10px;">
                	</div>
                	
                	
				</div>
			</div>
		</div>
	</div>
</div>

				</div>
				<div class="modal-footer">
	                <a id="a_reg_post" href="#" class="waves-effect waves-red btn-flat modal-action modal-close">저장</a>
	                <a id="a_cancel_post" href="#" class="waves-effect waves-green btn-flat modal-action modal-close">취소</a>
				</div>
			</div>
		</div>
	</div>
</div>

  <!-- //////////////////////////////////////////////////////////////////////////// -->

  <!-- START FOOTER -->
  <footer class="page-footer">
    <div class="footer-copyright">
      <div class="container">
        <span>Copyright © 2015 <a class="grey-text text-lighten-4" href="http://themeforest.net/user/geekslabs/portfolio?ref=geekslabs" target="_blank">GeeksLabs</a> All rights reserved.</span>
        <span class="right"> Design and Developed by <a class="grey-text text-lighten-4" href="http://geekslabs.com/">GeeksLabs</a></span>
        </div>
    </div>
  </footer>
  <!-- END FOOTER -->



    <!-- ================================================
    Scripts
    ================================================ -->
    
    <!-- jQuery Library -->
    <script type="text/javascript" src="js/plugins/jquery-1.11.2.min.js"></script>    
    <!--materialize js-->
    <script type="text/javascript" src="js/materialize.min.js"></script>
    <!--prism-->
    <script type="text/javascript" src="js/plugins/prism/prism.js"></script>
    <!--scrollbar-->
    <script type="text/javascript" src="js/plugins/perfect-scrollbar/perfect-scrollbar.min.js"></script>
    <!-- chartist -->
    <!-- <script type="text/javascript" src="js/plugins/chartist-js/chartist.min.js"></script> -->   
    <!-- masonry -->
    <script src="js/plugins/masonry.pkgd.min.js"></script>
    <!-- imagesloaded -->
    <script src="js/plugins/imagesloaded.pkgd.min.js"></script>    
    
    <!--plugins.js - Some Specific JS codes for Plugin Settings-->
    <script type="text/javascript" src="js/plugins.min.js"></script>
    <!--custom-script.js - Add your own theme custom JS-->
    <script type="text/javascript" src="js/custom-script.js"></script>
    <script type="text/javascript">
    /*
     * Masonry container for blog page
     */
    var $containerBlog = $("#blog-posts");
    $containerBlog.imagesLoaded(function() {
      $containerBlog.masonry({
        itemSelector: ".blog",
        columnWidth: ".blog-sizer",
      });
    });
    
    
    
    $( document ).ready(function() {
    	/** */
    	$('#a_reg_post').click(function() {
    		alert('글감등록 저장');
    		return;
    	});
    	
    	$('#a_cancel_post').click(function() {
    		alert('글감등록 취소');
    		return;
    	});
    	
    });
    </script>


</body>

</html>