<!DOCTYPE html>
<html lang="ko">

<!--================================================================================
	blog Name: Materialize - Material Design Admin Template
	Version: 3.1
	Author: GeeksLabs
	Author URL: http://www.themeforest.net/user/geekslabs
================================================================================ -->

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="msapplication-tap-highlight" content="no">
  <meta name="description" content="Materialize is a Material Design Admin Template,It's modern, responsive and based on Material Design by Google. ">
  <meta name="keywords" content="materialize, admin template, dashboard template, flat admin template, responsive admin template,">
  <title>필사의일격</title>

  <!-- Favicons-->
  <link rel="icon" href="images/favicon/favicon-32x32.png" sizes="32x32">
  <!-- Favicons-->
  <link rel="apple-touch-icon-precomposed" href="images/favicon/apple-touch-icon-152x152.png">
  <!-- For iPhone -->
  <meta name="msapplication-TileColor" content="#00bcd4">
  <meta name="msapplication-TileImage" content="images/favicon/mstile-144x144.png">
  <!-- For Windows Phone -->


  <!-- CORE CSS-->
  
  <!-- <link href="css/materialize.min.css" type="text/css" rel="stylesheet" media="screen,projection"> -->
  <link href="css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection">
  <!-- <link href="css/style.min.css" type="text/css" rel="stylesheet" media="screen,projection"> -->
  <link href="css/style.css" type="text/css" rel="stylesheet" media="screen,projection">
  <link href="js/plugins/sweetalert/sweetalert.css" type="text/css" rel="stylesheet" media="screen,projection">
  
  <!-- Custome CSS-->    
  <!-- <link href="css/custom/custom.min.css" type="text/css" rel="stylesheet" media="screen,projection"> -->
  <link href="css/custom/custom.css" type="text/css" rel="stylesheet" media="screen,projection">


  <!-- INCLUDED PLUGIN CSS ON THIS PAGE -->
  <link href="js/plugins/prism/prism.css" type="text/css" rel="stylesheet" media="screen,projection">
  <link href="js/plugins/perfect-scrollbar/perfect-scrollbar.css" type="text/css" rel="stylesheet" media="screen,projection">
  <link href="js/plugins/chartist-js/chartist.min.css" type="text/css" rel="stylesheet" media="screen,projection">

  <!-- 소셜계정  -->
  <script src="//developers.kakao.com/sdk/js/kakao.min.js"></script>
  <!-- <script type="text/javascript" src="https://static.nid.naver.com/js/naveridlogin_js_sdk_2.0.0.js" charset="utf-8"></script>
  <script src="https://apis.google.com/js/platform.js" async defer></script> -->

<style>
#main {
	padding-left: 0px;
}

</style>


</head>

<body>
  <!-- Start Page Loading -->
  <div id="loader-wrapper">
      <div id="loader"></div>        
      <div class="loader-section section-left"></div>
      <div class="loader-section section-right"></div>
  </div>
  <!-- End Page Loading -->

  <!-- //////////////////////////////////////////////////////////////////////////// -->

  <!-- START HEADER -->
  <header id="header" class="page-topbar">
        <!-- start header nav-->
        <div class="navbar-fixed">
            <nav class="navbar-color">
                <div class="nav-wrapper">
                    <ul class="left">
                    	<!-- 로고 -->
                      <!-- <li><h1 class="logo-wrapper"><a href="index.html" class="brand-logo darken-1"><img src="images/materialize-logo.png" alt="materialize logo"></a> <span class="logo-text">Materialize</span></h1></li> -->
                      <li><h1 class="logo-wrapper"><a href="index.html" class="brand-logo darken-1"><img src="images/custom/ci_t.png" alt="materialize logo"></a> <span class="logo-text"></span></h1></li>
                    </ul>
                    <div class="header-search-wrapper hide-on-med-and-down">
                        <i class="mdi-action-search"></i>
                        <input type="text" name="Search" class="header-search-input z-depth-2" placeholder="제목과 내용으로 검색하세요."/>
                    </div>
                    <ul id="ul_header_icon" class="right hide-on-med-and-down">
                    	<!-- <li>
                    		<a href="javascript:void(0);" class="waves-effect waves-block waves-light translation-button" data-activates="translation-dropdown"><img src="images/flag-icons/United-States.png"></a>
                    		<ul id="translation-dropdown" class="dropdown-content" style="white-space: nowrap; position: absolute; top: 64px; left: 1122px; opacity: 1; display: none;">
								<li>
			                    	<a href="#"><i class="mdi-hardware-keyboard-tab" style="color:#444;font-size: 14px;font-weight: 400;"> &nbsp;Logout</i></a>
								</li>
							</ul>
                    	</li> -->
                    	<!-- 글감등록 아이콘 -->
                        <li id="li_reg_post">
                        	<a href="#div_add_post_popup" class="waves-effect waves-light modal-trigger"><i class="mdi-editor-mode-edit"></i></a>
                        </li>
                        
                    	
						<li v-if="hasSession">
							<a href="javascript:void(0);" class="waves-effect waves-block waves-light translation-button" data-activates="translation-dropdown">
								<img v-bind:src="profile.profileImage" title="" style="width: 40px;height: 40px;border-radius: 50%;"> {{profile.userNm}}
							</a>
						</li>
						<li v-if="hasSession">
							<a href="javascript:void(0);" class="waves-effect waves-block waves-light translation-button" data-activates="translation-dropdown">
								<a href="#" @click="logout"><i class="mdi-hardware-keyboard-tab"></i></a>
								<!-- <a href="#"><i class="mdi-hardware-keyboard-tab" style="color:#444;font-size: 14px;font-weight: 400;"> &nbsp;Logout</i></a> -->
							</a>
						</li>
						
						<!-- 로그인 아이콘 -->
                        <li v-else>
                        	<a href="#" class="waves-effect waves-light" @click="login"><i class="mdi-action-account-box"></i></a>
                        </li>
                        
                        
                        
<!--                         <div class="col col s8 m8 l8">
		                        <a class="btn-flat dropdown-button waves-effect waves-light white-text profile-btn active" href="#" data-activates="profile-dropdown">John Doe<i class="mdi-navigation-arrow-drop-down right"></i></a><ul id="profile-dropdown" class="dropdown-content active" style="width: 128px; position: absolute; top: 57px; left: 101.234px; opacity: 1; display: block;">
		                            <li><a href="#"><i class="mdi-action-face-unlock"></i> Profile</a>
		                            </li>
		                            <li><a href="#"><i class="mdi-action-settings"></i> Settings</a>
		                            </li>
		                            <li><a href="#"><i class="mdi-communication-live-help"></i> Help</a>
		                            </li>
		                            <li class="divider"></li>
		                            <li><a href="#"><i class="mdi-action-lock-outline"></i> Lock</a>
		                            </li>
		                            <li><a href="#"><i class="mdi-hardware-keyboard-tab"></i> Logout</a>
		                            </li>
		                        </ul>
		                        <p class="user-roal">Administrator</p>
		                    </div>
 -->                        
                        
                    </ul>
                    <!-- translation-button -->
                    <!-- <ul id="translation-dropdown" class="dropdown-content">
                      <li>
                        <a href="#!"><img src="images/flag-icons/United-States.png" alt="English" />  <span class="language-select">English</span></a>
                      </li>
                      <li>
                        <a href="#!"><img src="images/flag-icons/France.png" alt="French" />  <span class="language-select">French</span></a>
                      </li>
                      <li>
                        <a href="#!"><img src="images/flag-icons/China.png" alt="Chinese" />  <span class="language-select">Chinese</span></a>
                      </li>
                      <li>
                        <a href="#!"><img src="images/flag-icons/Germany.png" alt="German" />  <span class="language-select">German</span></a>
                      </li>
                    </ul> -->
                    <!-- notifications-dropdown -->
                    <!-- <ul id="notifications-dropdown" class="dropdown-content">
                      <li>
                        <h5>NOTIFICATIONS <span class="new badge">5</span></h5>
                      </li>
                      <li class="divider"></li>
                      <li>
                        <a href="#!"><i class="mdi-action-add-shopping-cart"></i> A new order has been placed!</a>
                        <time class="media-meta" datetime="2015-06-12T20:50:48+08:00">2 hours ago</time>
                      </li>
                      <li>
                        <a href="#!"><i class="mdi-action-stars"></i> Completed the task</a>
                        <time class="media-meta" datetime="2015-06-12T20:50:48+08:00">3 days ago</time>
                      </li>
                      <li>
                        <a href="#!"><i class="mdi-action-settings"></i> Settings updated</a>
                        <time class="media-meta" datetime="2015-06-12T20:50:48+08:00">4 days ago</time>
                      </li>
                      <li>
                        <a href="#!"><i class="mdi-editor-insert-invitation"></i> Director meeting started</a>
                        <time class="media-meta" datetime="2015-06-12T20:50:48+08:00">6 days ago</time>
                      </li>
                      <li>
                        <a href="#!"><i class="mdi-action-trending-up"></i> Generate monthly report</a>
                        <time class="media-meta" datetime="2015-06-12T20:50:48+08:00">1 week ago</time>
                      </li>
                    </ul> -->
                </div>
            </nav>
        </div>
        <!-- end header nav-->
  </header>
  <!-- END HEADER -->

  <!-- //////////////////////////////////////////////////////////////////////////// -->

  <!-- START MAIN -->
  <div id="main">
    <!-- START WRAPPER -->
    <div class="wrapper">

      <!-- START LEFT SIDEBAR NAV-->
      <!-- END LEFT SIDEBAR NAV-->

      <!-- //////////////////////////////////////////////////////////////////////////// -->

      <!-- START CONTENT -->
      <section id="content">
        
        <!--breadcrumbs start-->
        <!-- <div id="breadcrumbs-wrapper">
            Search for small screen
            <div class="header-search-wrapper grey hide-on-large-only">
                <i class="mdi-action-search active"></i>
                <input type="text" name="Search" class="header-search-input z-depth-2" placeholder="Explore Materialize">
            </div>
          <div class="container">
            <div class="row">
              <div class="col s12 m12 l12">
                <h5 class="breadcrumbs-title">Blog Page</h5>
                <ol class="breadcrumbs">
                    <li><a href="index.html">Dashboard</a></li>
                    <li><a href="#">Pages</a></li>
                    <li class="active">Blog Page</li>
                </ol>
              </div>
            </div>
          </div>
        </div> -->
        <!--breadcrumbs end-->
        

        <!--start container-->
        <div class="container">
          <div class="section">
            <div class="row">
            	<div class="col s12 plisa-left-section">
            	<!-- <span class="caption">글감목록</span>
           		<div class="divider"></div> -->
           		
            		<!-- start blog list -->
		            <div id="div_blog_posts" class="row">
		                <div class="blog-sizer"></div>


		                <div class="blog" v-for="post in list" v-bind:key="post._id">
		                    <div class="card">
		                        <ul class="card-action-buttons">
		                            <li>
		                            	<a class="btn-floating waves-effect waves-light green accent-4"><i class="mdi-av-play-arrow"></i></a>
		                            </li>                            
		                        </ul>
		                        <div class="card-content">
		                            <p class="row">
		                              <span class="left title-ellipsis"><a href="#" @click="transcribe(post._id)">{{post.title}}</a></span>
		                            </p>
		                            <h1 class="card-title grey-text text-darken-4 contents-ellipsis">
		                            	<a href="#" class="grey-text text-darken-4">
		                            		{{post.contents}}
		                            	</a>
		                            </h1>
		                            <p class="blog-post-content grey-text text-darken-1 text-ellipsis">출처 : {{post.quatation}}</p>
		                            <div class="row">
		                              <div class="col s3">
		                                <!-- <img src="images/avatar.jpg" alt="" class="circle responsive-img valign profile-image"> -->
		                                <img :src="post.regId.profileImage" alt="" class="circle responsive-img valign profile-image">
		                              </div>
		                              <div class="col s9"> By <a href="#">{{post.regId.userNm}}</a><br/>{{post.regDate}}</div>
		                            </div>
		                        </div>
		                        <!-- <div class="card-reveal">
		                            <span class="card-title grey-text text-darken-4"><i class="mdi-navigation-close right"></i> Apple MacBook Pro A1278 13"</span>
		                            <p>Here is some more information about this blog that is only revealed once clicked on.</p>
		                        </div> -->
		                    </div>
		                </div>
		
		                <!-- org :  <div class="blog">
		                    <div class="card">
		                        <div class="card-image waves-effect waves-block waves-light">
		                            <a href="#"><img src="images/img3.jpg" alt="blog-img">
		                            </a>
		                        </div>
		                        <ul class="card-action-buttons">
		                            <li><a class="btn-floating waves-effect waves-light green accent-4"><i class="mdi-social-share"></i></a>
		                            </li>                            
		                            <li><a class="btn-floating waves-effect waves-light light-blue"><i class="mdi-action-info activator"></i></a>
		                            </li>
		                        </ul>
		                        <div class="card-content">
		                            <p class="row">
		                              <span class="left"><a href="">Web Design</a></span>
		                              <span class="right">18th June, 2015</span>
		                            </p>
		                            <h4 class="card-title grey-text text-darken-4"><a href="#" class="grey-text text-darken-4">Material Design Card - For Blog Post Article</a>
		                            </h4>
		                            <p class="blog-post-content">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
		                            <div class="row">
		                              <div class="col s2">
		                                <img src="images/avatar.jpg" alt="" class="circle responsive-img valign profile-image">
		                              </div>
		                              <div class="col s9"> By <a href="#">John Doe</a></div>
		                            </div>
		                        </div>
		                        <div class="card-reveal">
		                            <span class="card-title grey-text text-darken-4"><i class="mdi-navigation-close right"></i> Apple MacBook Pro A1278 13"</span>
		                            <p>Here is some more information about this blog that is only revealed once clicked on.</p>
		                        </div>
		                    </div>
		                </div> -->
		
		            </div>
		            <!--/ end blog list -->
		            
            	</div>
            	
            	<!-- <div class="col s5">
            		<span class="caption">내 필사</span>
            		<div class="divider"></div>
            	</div> -->
            </div>
          </div>
          <!-- Floating Action Button -->
            <div class="fixed-action-btn" style="bottom: 50px; right: 19px;">
                <a class="btn-floating btn-large">
                  <i class="mdi-action-stars"></i>
                </a>
                <ul>
                  <li><a href="css-helpers.html" class="btn-floating red"><i class="large mdi-communication-live-help"></i></a></li>
                  <li><a href="app-widget.html" class="btn-floating yellow darken-1"><i class="large mdi-device-now-widgets"></i></a></li>
                  <li><a href="app-calendar.html" class="btn-floating green"><i class="large mdi-editor-insert-invitation"></i></a></li>
                  <li><a href="app-email.html" class="btn-floating blue"><i class="large mdi-communication-email"></i></a></li>
                </ul>
            </div>
            <!-- Floating Action Button -->
        </div>
        <!--end container-->
      </section>
      <!-- END CONTENT -->

      <!-- //////////////////////////////////////////////////////////////////////////// -->
    </div>
    <!-- END WRAPPER -->

  </div>
  <!-- END MAIN -->

<!-- START : 글감등록 팝업 -->
<div>
	<div class="row">
    	<div class="col">
        	<div id="div_add_post_popup" class="modal modal-fixed-footer modal-close">
            	<div class="modal-content">
                
<div>
	<h4 class="header caption" style="margin-left: 15px;"><i class="mdi-editor-mode-edit"></i> 글감등록</h4>
    <div class="row" style="margin-bottom: 0px; ">
    	<div class="col s12">
        	<div class="row">
            	<form class="col s12">
                <div class="row">
                	<div class="input-field col s12">
                    	<input id="ipt_title" name="title" type="text" class="validate" v-model="title">
                        <label for="ipt_title">제목</label>
					</div>
                    <div class="input-field col s12">
                    	<textarea id="txtarea_contents" class="materialize-textarea validate" placeholder="필사 입력시 개행 기준으로 입력단위가 지정됩니다." v-model="contents" :maxlength="max"></textarea>
                        <label for="txtarea_contents">내용({{contents.length}}/4000)</label>
					</div>
                    <div class="input-field col s12">
                    	<input id="ipt_quatation" type="text" class="validate" v-model="quatation">
                    	<label for="ipt_quatation">출처</label>
					</div>
				</div>
				</form>
			</div>
		</div>
	</div>
</div>

				</div>
				<div class="modal-footer">
	                <a id="a_reg_post" href="#" class="waves-effect waves-red btn-flat modal-action" @click.prevent="save">저장</a>
	                <a id="a_cancel_post" href="#" class="waves-effect waves-green btn-flat modal-action modal-close" @click="cancel">취소</a>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- END : 글감등록 팝업 -->

<!-- START : 필사작성 팝업 -->
<div>
	<div class="row">
    	<div class="col">
        	<div id="div_transcribe_popup" class="modal modal-fixed-footer modal-close">
            	<div class="modal-content">

<div>
	<h4 class="header caption" style="margin-left: 15px;"><i class="mdi-editor-mode-edit"></i> 필사</h4>
    <div class="row" style="margin-bottom: 0px; ">
    	<div class="col s12">
        	<div class="row">
            	<form class="col s12">
                <div class="row">
                	<div class="input-field col s12">
                    	동해물과 백두산이 마르고 닳도록 하느님이 보우하사 우리 나라만세
					</div>
                    <div class="input-field col s12">
                    	<input id="ipt_line" type="text" class="validate" placeholder="필사해보아요!">
					</div>
				</div>
				</form>
			</div>
		</div>
	</div>
</div>
				</div>
				<div class="modal-footer">
	                <a id="a_reg_post" href="#" class="waves-effect waves-red btn-flat modal-action" @click.prevent="save">저장</a>
	                <a id="a_cancel_post" href="#" class="waves-effect waves-green btn-flat modal-action modal-close" @click="cancel">취소</a>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- START : 필사작성 팝업 -->


<!-- <div id="modal_login" class="modal modal-fixed-footer modal-close">
    <div id="div_login_pop" class="modal-content">
	</div>
</div> -->
  <!-- //////////////////////////////////////////////////////////////////////////// -->

  <!-- START FOOTER -->
  <footer class="page-footer">
    <div class="footer-copyright">
      <div class="container">
        <span>Copyright © 2019 <a class="grey-text text-lighten-4" href="http://themeforest.net/user/geekslabs/portfolio?ref=geekslabs" target="_blank">TK Yoon</a> All rights reserved.</span>
        <!-- <span class="right"> Design and Developed by <a class="grey-text text-lighten-4" href="http://geekslabs.com/">GeeksLabs</a></span> -->
        </div>
    </div>
  </footer>
  <!-- END FOOTER -->



    <!-- ================================================
    Scripts
    ================================================ -->
    
    <!-- jQuery Library -->
    <script type="text/javascript" src="js/plugins/jquery-1.11.2.min.js"></script>    
    <!--materialize js-->
    <script type="text/javascript" src="js/materialize.min.js"></script>
    <!--prism-->
    <script type="text/javascript" src="js/plugins/prism/prism.js"></script>
    <!--scrollbar-->
    <script type="text/javascript" src="js/plugins/perfect-scrollbar/perfect-scrollbar.min.js"></script>
    <!-- chartist -->
    <!-- <script type="text/javascript" src="js/plugins/chartist-js/chartist.min.js"></script> -->   
    <!-- masonry -->
    <script src="js/plugins/masonry.pkgd.min.js"></script>
    <!-- imagesloaded -->
    <script src="js/plugins/imagesloaded.pkgd.min.js"></script>
    <!--sweetalert -->
    <script type="text/javascript" src="js/plugins/sweetalert/sweetalert.min.js"></script>       
    
    <!--plugins.js - Some Specific JS codes for Plugin Settings-->
    <!-- <script type="text/javascript" src="js/plugins.min.js"></script> -->
    <script type="text/javascript" src="js/plugins.js"></script>
    <!--custom-script.js - Add your own theme custom JS-->
    <script type="text/javascript" src="js/custom-script.js"></script>
    
    
    
    <!-- vue.js 선언 -->
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    
    
	<script src="//developers.kakao.com/sdk/js/kakao.min.js"></script>
	<script type="text/javascript" src="https://static.nid.naver.com/js/naveridlogin_js_sdk_2.0.0.js" charset="utf-8"></script>
	<script src="https://apis.google.com/js/platform.js" async defer></script>
    
    
    
    
    <script type="text/javascript">
    
    $( document ).ready(function() {
    	/* $('.modal-trigger').leanModal({
    		dismissible: false
    	}); */
    	 /* $('#li_reg_post').click(function() {
    		 $('#modal2').leanModal({
                 dismissible: false, // Modal can be dismissed by clicking outside of the modal
                 opacity: .5, // Opacity of modal background
                 in_duration: 300, // Transition in duration
                 out_duration: 200, // Transition out duration
                 ready: function() { alert('Taraaa'); }, // Callback for Modal open
                 complete: function() { alert('Closed'); } // Callback for Modal close
               }
             );
    	 }); */
    	 
    	 /* $('#a_reg_post').click(function() {
    		alert('글감등록 저장');
			
    		//$('#modal2').leanModal('close');
    		$('#modal2').closeModal();
    		//$('#modal2').destoryModal();
    		return;
    	}); */
    	
    	 /*
    	$('#a_cancel_post').click(function() {
    		alert('글감등록 취소');
    		return;
    	}); */
    	
    });
    
    /**
     * 상단 아이콘 설정
     * - 글감등록
     * - 로그인 아이콘
     * - 로그인 정보 표시
     */
    var headerIcon = new Vue({
    	el : "#ul_header_icon"
    	, data : {
    		hasSession : false
    		, profile : {}
    	}
    	, mounted : function(e) {
    		console.log('mounted');
    		
    		console.log('팝업창 init');
    		$('.modal-trigger').leanModal({
				dismissible: false
        	});
    		
	    	this.getProfile();
    	}
    	, methods : {
    		/**
    		 * 세션정보가 있는지 확인하여 프로필 정보를 조회 
     		 */
    		getProfile : function(e) {
    			console.log('getProfile');    			
    			axios.post('/profile', {})
	    		.then(response => {
	    			console.log(response.data)
	    			
	    			//세션 존재
	    			if(response.data.data != '') {
	    				console.log('로그인 성공')
	    				this.hasSession = true;
	    				this.profile = response.data.data;
	    				
    				//세션 없음
	    			} else {
	    				this.hasSession = false;
	    				
	    			}
	    			
	    		})
	    		.catch(error => {
	    		    console.log(error.response);
	    		    /* var data = error.response.data;
	    		    alert(data.msg); */
	    		    return;
	    		});
    		}
    	
		   	/**
		   	 * 로그인 아이콘 클릭
		   	 */
    		, login : function(e){
    			console.log('login');
    			location.href = "/login.html";
    		}
		   	
		   	/**
		   	 * 로그인 세션 만료
		   	 */
		   	, signout : function(e) {
		   		console.log('signout');
		   		axios.post('/signout', {})
	    		.then(response => {
	    			console.log(response)
	    			location.href = "/";
	    			
	    		})
	    		.catch(error => {
	    		    console.log(error.response);
	    		    var data = error.response.data;
	    		    alert(data.msg);
	    		    return;
	    		});
		   	
		   	}
		   	
		   	/**
		   	 * 로그아웃 아이콘 클릭
		   	 */
    		, logout : function(e){
    			console.log('logout');
    			var that = this;
    			var socialType = this.profile.socialType;
    			console.log(socialType);
    			
    			if('kakao' == socialType) {
    				// 사용할 앱의 JavaScript 키를 설정해 주세요.
    		        Kakao.init('070ad7e336e509dd0982ef600812fc50');
    				Kakao.Auth.logout(function(e) {
   						console.log('call complete');
   						that.signout();
   					});
    				
    			} else if('naver' == socialType) {
    				that.signout();
    				
    			} else if('google' == socialType) {
    				that.signout();
    				
    			}
    		}
    	}
    });
    
    /**
     * 글감등록 팝업
     * [TK Yoon 2018. 12. 23. 오전 7:34:57]
     */
    var postPopup = new Vue({
		el: '#div_add_post_popup'
		, data: {
			title : ''
			, contents: ''
			, quatation: ''
			, preContents : ''
			, line : 1
			, max : 4000
			, result : ''
		}
    	, methods: {
    		save : function(e) {
	    		console.log('save');
	    		
	    		var param = {
    				title : this.title
    				, contents : this.contents
    				, quatation : this.quatation
	    		}
	    		
	    		axios.post('/posts', param)
	    		.then(response => { 
	    			console.log(response.data)
	    			if(response.data.code == "1") {
		    			this.cancel();
		    			swal("글감등록 성공!", "", "success");
		    			//console.log(headerIcon.profile)
		    			response.data.data.regId = headerIcon.profile; 
		    			console.log(response.data.data)
		    			postList.list.unshift(response.data.data);
		    			postList.refresh();
		    			
		    			this.title = '';
		    			this.contents = '';
		    			this.quatation = '';
		    			
	    			} else {
	    				swal("글감등록 실패!", response.data.msg, "error");
	    				
	    			}
	    		})
	    		.catch(error => {
	    			console.log(error.response);
	    		    var data = error.response.data;
	    		    this.cancel();
	    		    swal(data.msg, "", "error");
	    		    return;
	    		});

            }
	    		
	    	, cancel : function(e) {
	    		console.log('cancel');
	    		$('#div_add_post_popup').closeModal();
	    	}
    	}
	});
    
    /**
     * 글감  조회
     */
    var postList = new Vue({
		el: '#div_blog_posts'
		, data: {
			searchWord : ''
			, list : []
		}
    	, mounted : function(e) {
    		console.log('list mounted')
    		this.getPostList();
    	}
    	, methods: {
    		getPostList : function(e) {
	    		console.log('list');
	    		
	    		var param = {
					params : {
	    				title : this.title
	    				, contents : this.contents
	    				, quatation : this.quatation
	    				, page : 1
	    				, rows : 5
					}
	    		}
	    		
	    		axios.get('/posts', param)
	    		.then(response => { 
	    			console.log(response.data)
	    			
	    			if(response.data.code == "1") {
	    				console.log(response.data.data.posts)
	    				this.list = response.data.data.posts;
	    				
	    				postList.refresh();
		    			
	    			} else {
	    				
	    				
	    			}
	    			
	    		})
	    		.catch(error => {
	    		    console.log(error);
	    		    /* var data = error.response.data;
	    		    alert(data.msg); */
	    		    return;
	    		});

            }
    		, getPostInfo : function(postId) {
    			console.log('getPostInfo');
    			axios.get('/posts/' + postId)
	    		.then(response => { 
	    			console.log(response.data)
	    			if(response.data.code == "1") {
	    				console.log('글감상세조회 성공 ', response.data.data);
		    			
	    			} else {
	    				swal("글감상세조회 실패!", response.data.msg, "error");
	    				
	    			}
	    		})
	    		.catch(error => {
	    		    console.log(error.response);
	    		    var data = error.response.data;
	    		    $('#div_post_popup').closeModal();
	    		    swal(data.msg, "", "error");
	    		    return;
	    		});
    		}
    		, refresh : function(e) {
    			console.log('list refresh')
				var $containerBlog = $("#div_blog_posts");
    			$containerBlog.masonry('destroy');
    			
    			//목록 ui
			    $containerBlog.imagesLoaded(function() {
					$containerBlog.masonry({
						itemSelector: ".blog",
						columnWidth: ".blog-sizer",
					});
			    });
    		}
    		, transcribe : function(postId) {
    			console.log('transcribe id=', postId);
    			
    			//1.글감상세조회
    			this.getPostInfo(postId);
    			
    			
    			$('#div_transcribe_popup').openModal();
    		}
    	}
	});
    
    /**
     * 필사등록 팝업
     * [TK Yoon 2019. 1. 5. 오전 6:15:13]
     */ 
    var transcribePopup = new Vue({
		el: '#div_transcribe_popup'
		, data: {
			
		}
    	, methods: {
    		save : function(e) {
	    		console.log('save');
	    		
	    		var param = {
    				title : this.title
    				, contents : this.contents
    				, quatation : this.quatation
	    		}
	    		
	    		axios.post('/posts', param)
	    		.then(response => { 
	    			console.log(response.data)
	    			if(response.data.code == "1") {
		    			$('#div_post_popup').closeModal();
		    			swal("글감등록 성공!", "", "success");
		    			
		    			/* postList.list.push({
		    				title : this.title
		    				, contents : this.contents
		    				, quatation : this.quatation
		    			}); */
		    			
		    			this.title = '';
		    			this.contents = '';
		    			this.quatation = '';
		    			//postList.getPostList();
		    			
		    			
		    			
	    			} else {
	    				swal("글감등록 실패!", response.data.msg, "error");
	    				
	    			}
	    		})
	    		.catch(error => {
	    		    console.log(error.response);
	    		    var data = error.response.data;
	    		    $('#div_post_popup').closeModal();
	    		    swal(data.msg, "", "error");
	    		    return;
	    		});

            }
	    		
	    	, cancel : function(e) {
	    		console.log('cancel');
	    		$('#div_post_popup').closeModal();
	    	}
    	}
	});
    </script>


</body>

</html>