/*================================================================================
	Item Name: Materialize - Material Design Admin Template
	Version: 3.1
	Author: GeeksLabs
	Author URL: http://www.themeforest.net/user/geekslabs
================================================================================

NOTE:
------
PLACE HERE YOUR OWN CSS CODES AND IF NEEDED, OVERRIDE THE STYLES FROM THE OTHER STYLESHEETS.
WE WILL RELEASE FUTURE UPDATES SO IN ORDER TO NOT OVERWRITE YOUR STYLES IT'S BETTER LIKE THIS.  */

nav {
	background-color: #7f7f7f;
}

/*----------------------------------------
    Blog
------------------------------------------*/
.blog-sizer {
    /* width: 33.33%; */
    width : 270px;
  }
.blog {
    /* width: 33.33%; */
    width : 270px;
}

.card-action-buttons {
	position: absolute;
    float: right;
    bottom: 25px;
    right: 0px;
}

.blog .card .card-content .card-title, .blog .card .card-reveal .card-title {
    font-size: 1.0rem;
}

.plisa-left-section {
	min-width: 280px;
}
	
.text-ellipsis {
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis
}

.title-ellipsis {
	display: inline-block;
	/* width: 200px; */
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis; /* 여러 줄 자르기 추가 스타일 */
	white-space: normal;
	line-height: 1.2;
	/* height: 3.6em; */
	text-align: left;
	word-wrap: break-word;
	display: -webkit-box;
	-webkit-line-clamp: 3;
	-webkit-box-orient: vertical;
}

.contents-ellipsis {
	display: inline-block;
	/* width: 200px; */
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis; /* 여러 줄 자르기 추가 스타일 */
	white-space: normal;
	line-height: 1.2;
	/* height: 12.6em; */
	text-align: left;
	word-wrap: break-word;
	display: -webkit-box;
	-webkit-line-clamp: 8;
	-webkit-box-orient: vertical;
}

.transcribe-textarea {
	font-size: 25px;
	overflow:hidden;
	padding: 0 !important;
	height: 39px;
}

.complete {
	background-color: #f5f5f5;
	color: #8a8a8a;
	border: none;
	border-top: 1px dashed #575757;
	border-bottom: 1px solid #575757;
}

.focus-color {
	color: #1974c9;
}

.error-bg {
	background-color: #ffeb3b;
	color: #ff0000;
}

.modal .modal-content {
 	padding: 10px;
}

textarea.materialize-textarea {
    min-height: 14rem;
}

footer {
    padding-left: 0px;
}